In [2]:
# Install packages
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
# Read file
#data_url = "https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv"
df_path  = (r'C:\Users\Lachu\Downloads\epidemiology.csv')
covid_df = pd.read_csv(df_path)

In [3]:
# Inspecting the dataframe - Data is messy in the real world. 

covid_df.shape    # Shape of the object (2D)
covid_df.dtypes   # Data types in each column
covid_df.columns  # Column names


covid_df.head()       # Displays first 5 rows
covid_df.tail()       # Displays last 5 rows
covid_df.sample()     # Displays a randow rows
covid_df.info()       # DataFrame information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12525825 entries, 0 to 12525824
Data columns (total 10 columns):
 #   Column                Dtype
---  ------                -----
 0   date                  object
 1   location_key          object
 2   new_confirmed         float64
 3   new_deceased          float64
 4   new_recovered         float64
 5   new_tested            float64
 6   cumulative_confirmed  float64
 7   cumulative_deceased   float64
 8   cumulative_recovered  float64
 9   cumulative_tested     float64
dtypes: float64(8), object(2)
memory usage: 955.6+ MB

In [4]:
# Subsetting a dataframe - by rows and columns (also cover multiple conditions - AND, OR)

denmark_covid_df = covid_df[covid_df['location_key']=="DK"]
india_covid_df = covid_df[covid_df['location_key']=="IN"]
covid_df.shape
print("Denmark", denmark_covid_df.shape)
print("India", india_covid_df.shape)

# Denmark + India

#dk_in_covid_df = covid_df[(covid_df['location_key']=="DK") | (covid_df['location_key']=="IN")]
dk_in_covid_df = covid_df[(covid_df['location_key']=="DK") & (covid_df['location_key']=="IN")]
dk_in_covid_df.shape
print("Denmark & India", dk_in_covid_df.shape)

Denmark (987, 10)
India (987, 10)
Denmark & India (0, 10)

In [ ]:
# Assignment

# Section A
# 1. What is the number of unique values in the column "location_key"?

# 2. What's the earliest date for which the data has been collected for? And the latest date? 
# 3. On how many dates did we see the reported deaths greater than 100? 

# Section B
# Create a subset of the data satifying the following conditions 
# 1. All the data for the year 2021 only. 
# 2. Denmark, but only the data from 2020. 
# 3. India, but also all the dates where the new cases reported were more than 1000. 

# Section C
# 1. Subset the data to only include the following columns: "date","location_key","new_confirmed", "new_deceased", "new_recovered", "new_tested"
# 2. Add a new column to the dataset: The column should be named as "year" and should only contain the year part of the date, for each row. For example, if the "date" column has the value "2020-11-01" in row 1, then the "year" column for row 1 should contain the value "2020"

# Section D
# What are YOU curious to know from/about the dataset? Describe it in a simple statement, and how did you verify it? 
# What time of the year did you see the highest number of cases? and the location?
# What countries had maximum number of cases

# Duration between confirmation and

In [21]:
# 1. What is the number of unique values in the column "location_key"?
unique_values = covid_df['location_key'].unique
print(unique_values)

<bound method Series.unique of 0           AD
1           AD
2           AD
3           AD
4           AD
            ..
12525820    ZW
12525821    ZW
12525822    ZW
12525823    ZW
12525824    ZW
Name: location_key, Length: 12525825, dtype: object>

In [60]:
# 2. What's the earliest date for which the data has been collected for? And the latest date? 
earliest_date = covid_df['date'].min
print(earliest_date)
latest_date = covid_df['date'].max
print(latest_date)

<bound method Series.min of 0          2020-01-01
1          2020-01-02
2          2020-01-03
3          2020-01-04
4          2020-01-05
              ...
12525820   2022-09-09
12525821   2022-09-10
12525822   2022-09-11
12525823   2022-09-12
12525824   2022-09-13
Name: date, Length: 12525825, dtype: datetime64[ns]>
<bound method Series.max of 0          2020-01-01
1          2020-01-02
2          2020-01-03
3          2020-01-04
4          2020-01-05
              ...
12525820   2022-09-09
12525821   2022-09-10
12525822   2022-09-11
12525823   2022-09-12
12525824   2022-09-13
Name: date, Length: 12525825, dtype: datetime64[ns]>

In [63]:
# On how many dates did we see the reported deaths greater than 100? 


death_over_100 = [covid_df[covid_df['new_deceased']>100]['date']]
num_deceased_more_than_100 = death_over_100['date'].nunique()
print(death_over_100)
print(num_deceased_more_than_100)

TypeError: list indices must be integers or slices, not str

In [6]:
# All the data for the year 2021 only. 
#year_2021= [covid_df[covid_df['date'] ]
covid_df['date'] = pd.to_datetime(covid_df['date'])
covid_df['year'] = covid_df['date'].dt.year

In [8]:
covid_df

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020
...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN,2022
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022

In [ ]:
year_2021 =[covid_df[covid_df['year']==2021]]
print(year_2021)

In [64]:
#2. Denmark, but only the data from 2020. 
denmark_2020 = covid_df[(covid_df['location_key']=='DK') & (covid_df['year']==2020)]
print(denmark_2020)

              date location_key  new_confirmed  new_deceased  new_recovered  \
6585013 2020-01-01           DK            0.0           0.0            NaN
6585014 2020-01-02           DK            0.0           0.0            NaN
6585015 2020-01-03           DK            0.0           0.0            NaN
6585016 2020-01-04           DK            0.0           0.0            NaN
6585017 2020-01-05           DK            0.0           0.0            NaN
...            ...          ...            ...           ...            ...
6585374 2020-12-27           DK         3062.0          29.0            NaN
6585375 2020-12-28           DK         2475.0          25.0            NaN
6585376 2020-12-29           DK         2768.0          32.0            NaN
6585377 2020-12-30           DK         1227.0          28.0            NaN
6585378 2020-12-31           DK         1203.0          33.0            NaN

         new_tested  cumulative_confirmed  cumulative_deceased  \
6585013         NaN                   0.0                  0.0
6585014         NaN                   0.0                  0.0
6585015         NaN                   0.0                  0.0
6585016         NaN                   0.0                  0.0
6585017         NaN                   0.0                  0.0
...             ...                   ...                  ...
6585374    112261.0              160098.0               1229.0
6585375    117889.0              162573.0               1254.0
6585376    111380.0              165341.0               1286.0
6585377     34455.0              166568.0               1314.0
6585378     32021.0              167771.0               1347.0

         cumulative_recovered  cumulative_tested  year country  month
6585013                   NaN                NaN  2020      DK      1
6585014                   NaN                NaN  2020      DK      1
6585015                   NaN                NaN  2020      DK      1
6585016                   NaN                NaN  2020      DK      1
6585017                   NaN                NaN  2020      DK      1
...                       ...                ...   ...     ...    ...
6585374                   NaN         10276485.0  2020      DK     12
6585375                   NaN         10394374.0  2020      DK     12
6585376                   NaN         10505754.0  2020      DK     12
6585377                   NaN         10540209.0  2020      DK     12
6585378                   NaN         10572230.0  2020      DK     12

[366 rows x 13 columns]

In [65]:
 #India, but also all the dates where the new cases reported were more than 1000. 
india_2020 = covid_df[(covid_df['location_key']=='IN')&(covid_df['new_confirmed']>=1000)]
print(india_2020)

              date location_key  new_confirmed  new_deceased  new_recovered  \
7743126 2020-04-09           IN         1035.0          40.0            NaN
7743129 2020-04-12           IN         1211.0          31.0            NaN
7743130 2020-04-13           IN         1076.0          38.0            NaN
7743132 2020-04-15           IN         1007.0          23.0            NaN
7743134 2020-04-17           IN         1334.0          27.0            NaN
...            ...          ...            ...           ...            ...
7744009 2022-09-09           IN         5076.0          11.0            NaN
7744010 2022-09-10           IN         5221.0          15.0            NaN
7744011 2022-09-11           IN         4369.0          20.0            NaN
7744012 2022-09-12           IN         5108.0          31.0            NaN
7744013 2022-09-13           IN         6422.0          34.0            NaN

         new_tested  cumulative_confirmed  cumulative_deceased  \
7743126     16420.0                7447.0                239.0
7743129     21806.0               10363.0                339.0
7743130     27339.0               11439.0                377.0
7743132     28357.0               13387.0                437.0
7743134     37000.0               15712.0                507.0
...             ...                   ...                  ...
7744009         NaN            44495359.0             528150.0
7744010         NaN            44500580.0             528165.0
7744011         NaN            44504949.0             528185.0
7744012         NaN            44510057.0             528216.0
7744013         NaN            44516479.0             528250.0

         cumulative_recovered  cumulative_tested  year country  month
7743126                   NaN           161330.0  2020      IN      4
7743129                   NaN           217554.0  2020      IN      4
7743130                   NaN           244893.0  2020      IN      4
7743132                   NaN           302956.0  2020      IN      4
7743134                   NaN           372123.0  2020      IN      4
...                       ...                ...   ...     ...    ...
7744009                   NaN                NaN  2022      IN      9
7744010                   NaN                NaN  2022      IN      9
7744011                   NaN                NaN  2022      IN      9
7744012                   NaN                NaN  2022      IN      9
7744013                   NaN                NaN  2022      IN      9

[878 rows x 13 columns]

In [ ]:
# Section C
# 1. Subset the data to only include the following columns: "date","location_key","new_confirmed", "new_deceased", "new_recovered", "new_tested"
covid_df[['date','location_key','new_confirmed', 'new_deceased', 'new_recovered', 'new_tested']]

In [ ]:
# 2. Add a new column to the dataset: The column should be named as "year" and should only contain the year part of the date, for each row. For example, if the "date" column has the value "2020-11-01" in row 1, then the "year" column for row 1 should contain the value "2020"
covid_df['year'] = covid_df['date'].dt.year

In [58]:
covid_df['month'] = covid_df['date'].dt.month
covid_df

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,country,month
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN,2022,ZW,9
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9

# Section D
 What are YOU curious to know from/about the dataset? Describe it in a simple statement, and how did you verify it? <br>
 What time of the year did you see the more then 50th percentile of cases? and the location?<br>
 countries with highest cases<br>
 What time of the year did you see the highest number of cases? and the location?

In [27]:
print(covid_df['new_confirmed'].value_counts())

new_confirmed
0.0        5223189
1.0        1250591
2.0         685859
3.0         470648
4.0         357665
            ...
14996.0          1
14406.0          1
21955.0          1
21605.0          1
13978.0          1
Name: count, Length: 26183, dtype: int64

In [51]:
covid_df['new_confirmed'].skew()

np.float64(0.3380180998569549)

In [8]:
#max_new_confirmed = covid_df['new_confirmed'].max()
median_confirmed = covid_df['new_confirmed'].quantile(1/2)
print(median_confirmed)

higher_than_median= covid_df[covid_df['new_confirmed']>median_confirmed]
print(higher_than_median)

1.0
               date location_key  new_confirmed  new_deceased  new_recovered  \
74       2020-03-15           AD           12.0           0.0            NaN
75       2020-03-16           AD           25.0           0.0            NaN
77       2020-03-18           AD           36.0           0.0            NaN
78       2020-03-19           AD           19.0           0.0            NaN
79       2020-03-20           AD           39.0           1.0            NaN
...             ...          ...            ...           ...            ...
12525817 2022-09-06           ZW            9.0           0.0            NaN
12525819 2022-09-08           ZW           25.0           0.0            NaN
12525820 2022-09-09           ZW           11.0           0.0            NaN
12525821 2022-09-10           ZW           18.0           0.0            NaN
12525823 2022-09-12           ZW           51.0           0.0            NaN

          new_tested  cumulative_confirmed  cumulative_deceased  \
74               NaN                  14.0                  0.0
75               NaN                  39.0                  0.0
77               NaN                  75.0                  0.0
78               NaN                  94.0                  0.0
79               NaN                 133.0                  1.0
...              ...                   ...                  ...
12525817         NaN              256834.0               5596.0
12525819         NaN              256859.0               5596.0
12525820         NaN              256870.0               5596.0
12525821         NaN              256888.0               5596.0
12525823         NaN              256939.0               5596.0

          cumulative_recovered  cumulative_tested  year
74                         NaN                NaN  2020
75                         NaN                NaN  2020
77                         NaN                NaN  2020
78                         NaN                NaN  2020
79                         NaN                NaN  2020
...                        ...                ...   ...
12525817                   NaN                NaN  2022
12525819                   NaN                NaN  2022
12525820                   NaN                NaN  2022
12525821                   NaN                NaN  2022
12525823                   NaN                NaN  2022

[5899819 rows x 11 columns]

In [37]:
covid_df['country'] = covid_df['location_key'].str.split('_').str[0]
covid_df

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,country,month
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN,2022,ZW,9
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9

In [38]:
covid_df['country'].describe()

count     12524838
unique         232
top             BR
freq       5092413
Name: country, dtype: object

In [ ]:
# Group by year and month and sum of new confirmed
grouped_by_cases = covid_df.groupby(['year','month'])['new_confirmed'].sum()

print(grouped_by_cases)

year  month
2019  12               0.0
2020  1            54666.0
      2          -141599.0
      3          2195224.0
      4          5900737.0
      5          6952994.0
      6         10523353.0
      7         18846966.0
      8         21267674.0
      9         22948409.0
      10        32110868.0
      11        42206306.0
      12        49425155.0
2021  1         50259467.0
      2         27277331.0
      3         36515608.0
      4         55297748.0
      5         50891567.0
      6         28500422.0
      7         35874256.0
      8         44285163.0
      9         35656059.0
      10        26126334.0
      11        37517690.0
      12        70226267.0
2022  1        229694861.0
      2        113546354.0
      3         84933550.0
      4         45288909.0
      5         33905820.0
      6         35307619.0
      7         55101040.0
      8         42081904.0
      9         36642914.0
      12          -31136.0
Name: new_confirmed, dtype: float64

In [39]:
#countries with highest cases
highest_country = covid_df.groupby('country')['new_confirmed'].sum().sort_values(ascending=False)
highest_country.head(10)
#covid_df['cumulative_confirmed'] = covid_df.groupby('country')['new_confirmed'].sum()
#covid_df

country
US    272244106.0
IN    126463452.0
BR    109948210.0
GB     93263082.0
FR     90395908.0
IT     63645029.0
DE     57763003.0
NL     48677313.0
JP     39752323.0
RU     32572085.0
Name: new_confirmed, dtype: float64

In [29]:
# import matplotlib.pyplot as plt

# # Get the top 10 countries
# top_countries = highest_contry.head(10)

# # Plot
# plt.figure(figsize=(12,6))
# top_countries.plot(kind='bar', color='coral', edgecolor='black')

# # Labels and title
# plt.xlabel("Country")
# plt.ylabel("Total Confirmed Cases")
# plt.title("Top 10 Countries with Highest COVID-19 Cases")
# plt.xticks(rotation=45)
# plt.grid(axis='y', linestyle='--', alpha=0.7)

# # Show plot
# plt.show()

In [33]:
# What time of the year did you see the highest number of cases? and the location?
highest_confirmed_row = covid_df.loc[covid_df['new_confirmed'].idxmax(), ['date', 'country', 'new_confirmed']]
print(highest_confirmed_row)

date             2022-06-07 00:00:00
country                           NL
new_confirmed              5047094.0
Name: 8994738, dtype: object

In [34]:
#countries with most death
highest_death = covid_df.groupby('country')['new_deceased'].sum().sort_values(ascending=False)
highest_death.head(10)
#covid_df['cumulative_confirmed'] = covid_df.groupby('country')['new_confirmed'].sum()
#covid_df

country
US    3055202.0
BR    2220286.0
IN    1501682.0
RU     704849.0
PE     625820.0
GB     563941.0
CO     476778.0
DE     389150.0
AR     379720.0
MX     375972.0
Name: new_deceased, dtype: float64

In [40]:
#countris with most recovered
highest_recovered = covid_df.groupby('country')['new_recovered'].sum().sort_values(ascending=False)
highest_recovered.head(10)

country
FR    539574290.0
IN     78532548.0
IT     42987496.0
BR     33706231.0
DE     17977306.0
CO     16323060.0
AT     14816043.0
ID     13977929.0
CZ     12026149.0
RU     10875781.0
Name: new_recovered, dtype: float64

In [59]:
sum_newconfirmed = covid_df['new_confirmed'].sum()
print(sum_newconfirmed)

1387190500.0

In [71]:
covid_df['Day_of_week'] = covid_df['date'].dt.day_of_week
mean_day_of_week = covid_df.groupby(['year'],['location_key']=='IN')['new_tested'].mean()
mean_day_of_week

C:\Users\Lachu\AppData\Local\Temp\ipykernel_25304\4063320147.py:2: FutureWarning: The 'axis' keyword in DataFrame.groupby is deprecated and will be removed in a future version.
  mean_day_of_week = covid_df.groupby(['year'],['location_key']=='IN')['new_tested'].mean()

year
2019      14.500000
2020    1322.773169
2021    2862.522537
2022    5171.860780
Name: new_tested, dtype: float64

In [67]:
covid_df

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,country,month,Day_of_week
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1,2
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1,3
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1,4
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1,5
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,AD,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN,2022,ZW,9,4
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9,5
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,2022,ZW,9,6
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9,0
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,2022,ZW,9,1

In [ ]:
covid_df['mortality_rate_percentage'] = (covid_df['new_deceased']/covid_df['new_confirmed'])*100
covid_df['mortality_rate_percetage']= round(covid_df['mortality_rate_percentage'],2)
covid_df.sample(20)

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,year,country,month,Day_of_week,mortality_rate,mortality_rate_percentage,mortality_rate_percetage
6729553,2020-11-11,ES_CT_08126,3.0,NaN,NaN,NaN,427.0,NaN,NaN,NaN,2020,ES,11,2,NaN,NaN,NaN
279939,2021-05-18,AR_Q_014,17.0,0.0,NaN,16.0,1419.0,32.0,NaN,2552.0,2021,AR,5,1,0.000000,0.000000,0.00
469090,2022-05-23,AT_6_622,12.0,0.0,15.0,NaN,41864.0,300.0,41460.0,NaN,2022,AT,5,0,0.000000,0.000000,0.00
4317466,2022-01-28,BR_RS_430865,0.0,0.0,NaN,NaN,143.0,5.0,NaN,NaN,2022,BR,1,4,NaN,NaN,NaN
11554138,2021-01-03,US_OH_39083,36.0,0.0,NaN,NaN,2870.0,22.0,NaN,NaN,2021,US,1,6,0.000000,0.000000,0.00
3097399,2022-02-20,BR_PB_251540,23.0,0.0,NaN,NaN,970.0,3.0,NaN,NaN,2022,BR,2,6,0.000000,0.000000,0.00
4202959,2021-07-07,BR_RS_430235,15.0,1.0,0.0,24.0,1967.0,28.0,0.0,7052.0,2021,BR,7,2,6.666667,6.666667,6.67
11060055,2021-05-26,US_MO_29113,10.0,0.0,NaN,NaN,5981.0,48.0,NaN,NaN,2021,US,5,2,0.000000,0.000000,0.00
7989472,2021-01-03,IN_MH_AHN,117.0,1.0,2.0,0.0,69394.0,1048.0,66617.0,11077.0,2021,IN,1,6,0.854701,0.854701,0.85
9510861,2021-08-24,PL_14_23,0.0,0.0,NaN,29.0,NaN,NaN,NaN,NaN,2021,PL,8,1,NaN,NaN,NaN
10710727,2021-07-02,US_KY_21045,3.0,0.0,NaN,NaN,1522.0,41.0,NaN,NaN,2021,US,7,4,0.000000,0.000000,0.00
4978762,2021-11-15,BR_SP_350290,0.0,0.0,NaN,NaN,3097.0,86.0,NaN,NaN,2021,BR,11,0,NaN,NaN,NaN
2418750,2022-05-20,BR_MG_315780,0.0,0.0,NaN,NaN,14222.0,576.0,NaN,NaN,2022,BR,5,4,NaN,NaN,NaN
2503517,2021-06-06,BR_MG_316553,0.0,0.0,0.0,3.0,1816.0,68.0,0.0,5614.0,2021,BR,6,6,NaN,NaN,NaN
2559308,2022-05-16,BR_MG_317052,0.0,0.0,NaN,NaN,989.0,7.0,NaN,NaN,2022,BR,5,0,NaN,NaN,NaN
4231557,2022-09-08,BR_RS_430461,0.0,0.0,NaN,NaN,244.0,6.0,NaN,NaN,2022,BR,9,3,NaN,NaN,NaN
5019231,2020-05-17,BR_SP_350690,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,2020,BR,5,6,NaN,NaN,NaN
1836657,2020-09-27,BR_MG_310310,0.0,0.0,NaN,NaN,11.0,0.0,NaN,NaN,2020,BR,9,6,NaN,NaN,NaN
11005617,2022-01-26,US_MN_27147,121.0,0.0,NaN,NaN,9165.0,50.0,NaN,NaN,2022,US,1,2,0.000000,0.000000,0.00
2439878,2020-09-25,BR_MG_316000,0.0,0.0,NaN,NaN,17.0,3.0,NaN,NaN,2020,BR,9,4,NaN,NaN,NaN

In [ ]:
covid_df['new_confirmed'] =